// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

@import '/node_modules/@fortawesome/fontawesome-free/css/all.css';

body {
    font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-container{
  width: 70%;
  margin: 0 auto;
}